# IDE's config
.idea/
.vscode/

# Source files
src/

# Test files
coverage/
__snapshots__/
**.test.{js,js.map}
**.test.mock.{js,js.map}
**.mock.{js,js.map}
test.mocks.{js,js.map}
persist/

# Development configs
renovate.json
.gitignore
tsconfig.json
babel.config.js
jest.config.js
.prettierignore
.prettierrc

# CI configs
.github/

# Docs
images/