# IDE's config
.idea/
.vscode/

# Source files
src/

# Test files
coverage/
__snapshots__/
**.test.js
src/test.mocks.ts
persist/

# Development configs
renovate.json
.gitignore
tsconfig.json
babel.config.js
jest.config.js

# CI configs
.github/

# Docs
images/